export ROS_DOMAIN_ID=25
export plug_ip=""

export TWILIO_TOKEN="MISSING"
export TWILIO_ACCOUNT_SID="MISSING"

export SMARTTHINGS_TOKEN="MISSING"
export APIKEY="MISSING"

export cmd_vel="stretch/cmd_vel"

export robot_pass="MISSING"
export ROBOT_NAME="MISSING"

export DISCORD_TOKEN="MISSING"
export DISCORD_LOGGING_CHANNEL="MISSING"
export DISCORD_EMERGENCY_CHANNEL="MISSING"

export house_yaml_path=""
